<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CodePen - Beautiful Restaurant One Page Website</title>
    <link rel="stylesheet" href="./style.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <!DOCTYPE html>
    <html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Northstreet Restaurant">
        <meta name="author" content="A.K.">

        <title>Kaledio</title>


        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="style.css" type="text/css">

        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>

    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

        <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
            <a class="navbar-brand" href="#">Kaleido</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#service">Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="user/login">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="user/signup">Register</a>
                    </li>
                </ul>
            </div>
        </nav>


        <header class="v-header container">
            <div class="fullscreen-video-wrap">
                <!--  https://www.videvo.net/video/typing-on-computer-white-bg/4475/ -->
                <!-- DO NOT USE THIS VIDEO, I JUST NEEDED A HOSTED VIDEO FOR THIS CODEPEN> USE THE ONE ABOVE -->
                <!-- <video src="http://techslides.com/demos/sample-videos/small.mp4" autoplay="true" muted="true" loop=""> -->
                <video src="http://localhost:3000/images/river.mp4" autoplay="true" muted="true" loop=""></video>
                </video>
            </div>
            <div class="header-overlay"></div>


            <div class="header-content text-md-center">
                <h1>Kaleido</h1>
                <p>Your platform for finding great, usable imagery to fuel creativity around the world.</p>
                {{!-- <a class="btn">Find Out More</a> --}}
                <div class="wrap">
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="What are you looking for?">
                        <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                {{!-- <p>Trending:flowers, wallpapers, fashion, happy,love and nature<p> --}}
            </div>
        </header>

        <!-- <div class="jumbotron">
        <div class="container-fluid">
            <div class="header-content-inner">
                <h1>Welcome to Northstreet restaurant</h1> 
                <h3>We are proud of our long history of making delicious meals, warm and 
                friendly atmosphere and professional staff.</h3>
            </div>
        </div>
    </div> -->

        <section class="bg-about bg-section" id="about">
            <div class="container-fluid">
                <h1 class="container-h1">About</h1>
                <div class="row">
                    <div class="col-sm-5">

                        <div class="hov-img">
                            <img src="https://miro.medium.com/max/7000/1*l-mjZ0Ym-VzDSrSW6nvfqA.jpeg" alt="Warm welcome"
                                class="hov-img-bottom img-fluid">
                            <div class="hov-img-top hov-img-slideup">
                                <div class="hov-img-text">
                                    <h5>Photos for everyone</h5>
                                    <p>It had separate tables, a menu, and specialized in soups made with a base of meat
                                        and eggs, which were said to be restaurants or, in English "restoratives".</p>
                                </div>
                            </div>
                        </div>

                        <div class="hov-img">
                            <img src="https://images.unsplash.com/photo-1604079993896-82084928a2e0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80"
                                alt="Delicious meals" class="hov-img-bottom img-fluid">
                            <div class="hov-img-top hov-img-slideup">
                                <div class="hov-img-text">
                                    <h5>Click something awesome</h5>
                                    <p> In about 1765 a new kind of eating establishment, called a "Bouillon", was
                                        opened on rue des Poulies, near the Louvre, by a man named Boulanger.</p>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="hov-img">
                        <img src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536951746/new/professional_staff.jpg" alt="Professional staff" class="hov-img-bottom img-fluid">
                        <div class="hov-img-top hov-img-slideup">
                            <div class="hov-img-text">
                                <h5>Professional staff</h5>
                                <p>For centuries Paris had taverns which served food at large common tables, but they were notoriously crowded, noisy, not very clean, and served food of dubious quality.</p>
                            </div>
                        </div>
                    </div> -->

                    </div>

                    <div class="col-sm-7">
                        <div class="row ">
                            <div class="restaurant-history slideanim text-center">
                                <h3 class="section-heading">Kaledio</h3>
                                <p class="about-history first">Photography is the art of capturing light with a camera,
                                    usually via a digital sensor or film, to create an image. With the right camera
                                    equipment, you can even photograph wavelengths of light invisible to the human eye,
                                    including UV, infrared, and radio.
                                    <br>
                                    <br>
                                    Browse and discover millions of vectors, photos, PSD files, icons, and free
                                    presentations templates. Inspiration, creativity, and design with Kaledio
                                    <br>
                                    <br>
                                    Beautiful, free images gifted by the world’s most generous community of
                                    photographers. Better than any royalty free or stock photos..
                                </p>

                                <button type="button" class="btn more" id="more" data-toggle="collapse"
                                    data-target="#demo">How we started</button>
                                <div id="demo" class="collapse">
                                    <p class="about-history"> How we started? The concept was simple. Kaledio was born
                                        from the pain we had in finding great, usable imagery.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="bg-service bg-section" id="service">
            <div class="container-fluid text-center">
                <h1 class="container-h1">Service</h1>

                <div class="row service-round-3 slideanim">
                    <div class="col-sm-4 text-center round">
                        {{!-- <div class="service-round b-party"> --}}
                        <i class="fa fa-4x fa fa-image sr-icons"></i>
                        {{!-- </div> --}}
                        <h4>Awesome Images</h4>
                        <p>We have a huge repository of beautiful images.</p>
                    </div>
                    <div class="col-sm-4 text-center round">
                        {{!-- <div class="service-round b-dinner"> --}}
                        <i class="fa fa-4x fa fa-smile-o  sr-icons"></i>
                        {{!-- </div> --}}
                        <h4>Quality Images</h4>
                        <p>HD Images available</p>
                    </div>
                    <div class="col-sm-4 text-center round">
                        {{!-- <div class="service-round wedding"> --}}
                        <i class="fa fa-4x fa fa-search sr-icons"></i>
                        {{!-- </div> --}}
                        <h4>Search</h4>
                        <p>Search for your favourite images right here !</p>
                    </div>
                </div>
                <a href="#contact" class="btn">Contact us</a>
            </div>
        </section>




        <section id="gallery" class="bg-gallery no-padding">
            <div class="container-fluid">
                <h3>Gallery</h3>
                <hr class="hr-h3s">
                <div class="row no-gutter gallery slideanim">

                    <div class="col-sm-4 portfolio-item">
                        <a href="#" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-instagram fa-3x"></i>
                                </div>
                            </div>
                            <img src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536952203/new/s1.jpg" class="img-fluid
                        " alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-instagram fa-3x"></i>
                                </div>
                            </div>
                            <img src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536952203/new/s2.jpg"
                                class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-instagram fa-3x"></i>
                                </div>
                            </div>
                            <img src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                                class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-instagram fa-3x"></i>
                                </div>
                            </div>
                            <img src="https://images.unsplash.com/photo-1593642532744-d377ab507dc8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                                class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-instagram fa-3x"></i>
                                </div>
                            </div>
                            <img src="https://images.unsplash.com/photo-1518619636083-7402978fca97?ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80"
                                class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-instagram fa-3x"></i>
                                </div>
                            </div>
                            <img src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                                class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-instagram fa-3x"></i>
                                </div>
                            </div>
                            <img src="https://images.unsplash.com/photo-1561444575-672a672e23f5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                                class="img-fluid
                        " alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-instagram fa-3x"></i>
                                </div>
                            </div>
                            <img src="https://images.unsplash.com/photo-1549925861-c14d41750718?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                                class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-instagram fa-3x"></i>
                                </div>
                            </div>
                            <img src="https://images.unsplash.com/photo-1581814706561-f5bbfa7d984a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                                class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-instagram fa-3x"></i>
                                </div>
                            </div>
                            <img src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536952203/new/s4.jpg"
                                class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-instagram fa-3x"></i>
                                </div>
                            </div>
                            <img src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536952203/new/s5.jpg"
                                class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-instagram fa-3x"></i>
                                </div>
                            </div>
                            <img src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536952203/new/s6.jpg"
                                class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-instagram fa-3x"></i>
                                </div>
                            </div>
                            <img src="https://images.unsplash.com/photo-1527782337660-4c625a30ee42?ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"
                                class="img-fluid
                        " alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-instagram fa-3x"></i>
                                </div>
                            </div>
                            <img src="https://images.unsplash.com/photo-1604391659919-0cb8c6bb0966?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                                class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-instagram fa-3x"></i>
                                </div>
                            </div>
                            <img src="https://images.unsplash.com/photo-1604383393193-ce637a2f9c17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                                class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
                <div class="row more-img">

                    <div class="to-gallery">
                        <h4>For more pictures visit us on</h4>
                        <div class="social-networks">
                            <a href="https://www.instagram.com" target="_blank" class="instagram"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="https://www.facebook.com" target="_blank" class="facebook"><i
                                    class="fa fa-facebook"></i></a>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <section class="bg-staff" id="staff">
            <div class="container">
                <h3>Our staff</h3>
                <hr class="hr-h3s">
                <div class="row text-center slideanim thumbnail-row">
                    {{!-- <div class="centerwrapper"> --}}
                    <div class="col-sm-3">
                        <div class="staff">
                            <h5 class=""></h5>
                            <h6></h6>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="staff">
                            <img src="https://cdn.imgbin.com/0/16/3/imgbin-computer-icons-user-account-graphics-account-icon-nMRXmLKhhX3TmNyzzfMLmCG48.jpg"
                                class="" alt="chef-img" style="width:170px; height: 170px">
                            <h5 class="">Utkarsh Minhas</h5>
                            <h6>Student</h6>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="staff">
                            <img src="https://cdn.imgbin.com/0/16/3/imgbin-computer-icons-user-account-graphics-account-icon-nMRXmLKhhX3TmNyzzfMLmCG48.jpg"
                                class="" alt="chef-img" style="width:170px; height: 170px">
                            <h5 class="">Shreyash Maini</h5>
                            <h6>Student</h6>
                        </div>
                    </div>
                    <div class="col-sm-3" />

                    {{!-- </div> --}}
                </div>
            </div>
        </section>

        <section class="bg-testimonials" id="testimonials">
            <div class="container-fluid">
                <h3 class="">What people say about us</h3>
                <hr class="hr-testimonials">
                <div class="row slideanim">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ul>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <h4>Great Website ! Beautiful Pictures</h4>
                                <h5>Mark Gross</h5>
                            </div>

                            <div class="carousel-item">
                                <h4>Amazing Images of all categoriies.</h4>
                                <h5>Nina Hansen</h5>
                            </div>

                            <div class="carousel-item">
                                <h4>Definitely my favourite website, friendly, clean UI</h4>
                                <h5>Maria Fernandez</h5>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-contact bg-section" id="contact">
            <div class="container-fluid">
                <h1 class="container-h1">Contact us</h1>
                <div class="row slideanim">
                    <div class="col-md-6 col-sm-6 contact-left">
                        <div class="left-box">
                            <address class="contact">
                                <span class="span-contact">Call:</span>
                                <br>
                                +91 9944829932
                                <br>
                                <span class="span-contact">Email:</span>
                                <br>
                                utkarsh0304@gmail.com
                                <br>
                                <span class="span-contact">Visit:</span>
                                <br>
                                SRMIST, Potheri
                                <br>
                                Kattankulathur, Chennai
                                <br>
                                India
                            </address>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 contact-right">

                        <form novalidate action="mailto:anttnew@gmmmail.com" name="frm" method="post">
                            <div class="form-group has-feedback">
                                <label class="sr-only">First name:</label>
                                <input type="text" name="name" class="form-control" placeholder="First name" required>

                            </div>
                            <div class="form-group has-feedback">
                                <label class="sr-only">Last name:</label>
                                <input type="text" name="surname" class="form-control" placeholder="Last name" required>

                            </div>
                            <div class="form-group has-feedback">
                                <label class="sr-only">Email:</label>
                                <input type="email" name="email" class="form-control" placeholder="Email" required>

                            </div>
                            <div class="form-group">
                                <label class="sr-only" name="comment" for="comment">Comment:</label>
                                <textarea class="form-control" rows="5" id="comment"
                                    placeholder="Description"></textarea>
                            </div>
                            <div class="contact-buttons pull-left">
                                <input type="submit" name="submit" value="Send" />
                                <input type="reset" value="Reset" />
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </section>

        <footer class="-bg-footer" id="footer">
            <div class="container-fluid">
                <div class="row footer-align">
                    <div class="col-md-4 col-sm-4">
                        <h5>Kaledio</h5>
                        <hr class="hr-foot">
                        <div class="footer-items">
                            <p class="footer" style="text-align:center">
                                Your platform for finding great, usable imagery to fuel creativity around the world.
                            </p>
                            <ul class="social-networks">
                                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <h5>Our contact</h5>
                        <hr class="hr-foot">
                        <div class="footer-items">
                            <address>
                                SRMIST, Potheri
                                <br>
                                Kattankulathur, Chennai
                                <br>
                                India
                                <br>
                                <i class="fa fa-phone address"></i> +91 9944829932
                                <br>
                                <i class="fa fa-fax address"></i> +876 9968339229
                                <br>
                                <i class="fa fa-envelope address"></i> <a
                                    href="mailto:utkarsh0304@gmail.com">utkarsh0304@gmail.com</a>
                            </address>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <h5>Open hours</h5>
                        <hr class="hr-foot">
                        <div class="footer-items">
                            <ul>
                                <li>Mon-Fri: 08:00-22:00</li>
                                <li>Sat : 09:00-22:00</li>
                                <li>Sun : 09:00-16:00</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <a class="to-top" href="#myPage" title="toTop">
                <i class="fa fa-chevron-up"></i>
            </a>
        </footer>

        <div class="footer-copyright">
            <p>Made with ❤️ By Utkarsh and Shreyash </p>
        </div>





        <script src="script.js"></script>

        <script>

        </script>

    </body>

    </html>
    <!-- partial -->
    <script src="./script.js"></script>

</body>

</html>